<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="veh" default="husky1" />
    <arg name="port" default="/dev/xBee" />
    <arg name="log" default="True" />

    <group ns="$(arg veh)">
        <node name="xbee_client_node" pkg="xbee_communication" type="xbee_mesh_bridge.py" output="screen" required="true">
            <param name="veh" value="$(arg veh)" />
            <param name="port" value="$(arg port)" />
            <param name="log" value="$(arg log)" />
        </node>

        <node name="xbee_encode" pkg="xbee_communication" type="xbee_encoder_new.py" output="screen">
            <param name="veh" value="$(arg veh)" />
        </node>    
    </group>


</launch>