<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="port" default="/dev/xBee" />
    <arg name="log" default="True" />
    <arg name="veh" default="glora" />
    

    <node name="xbee_host_node" pkg="xbee_communication" type="xbee_mesh_bridge.py" output="screen" required="true">
        <param name="port" value="$(arg port)" />
        <param name="veh" value="$(arg veh)"/>
        <param name="log" value="$(arg log)" />
    </node>

    <node name="xbee_decode" pkg="xbee_communication" type="xbee_decoder_new.py" output="screen" >
        <param name="veh" value="$(arg veh)" />
    </node>
</launch>