<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="veh" default="husky1" />
    <arg name="port" default="/dev/xBee" />
    <arg name="log" default="True" />
    <arg name="timeout" default="15" />

    <group ns="$(arg veh)">
        <node name="xbee_rssi_monitor" pkg="xbee_communication" type="rssi_monitor.py" output="screen" required="true">
            <param name="veh" value="$(arg veh)" />
            <param name="port" value="$(arg port)" />
            <param name="timeout" value="$(arg timeout)" />
            <param name="log" value="$(arg log)" />
        </node>
    </group>


</launch>